{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}


{% block page_header %}
   <h1>Bienvenido, {{ recurso.nombre }} {{ recurso.apellido }}</h1>
{% endblock page_header %}

{% block content %}
    <div class="text-center table-bordered" style="background-color: #4586e1; border-color: black" >
        <h3> Tareas Pendientes</h3>
    </div>
    <table class="table table-striped table-bordered" style="border-color: black">
        <thead></thead>
        <thead>
            <th>ID #</th>
            <th>Titulo</th>
            <th>Proyecto</th>
            <th>Prioridad</th>
            <th>Acceder</th>
        </thead>
        <tbody>
        {% for tarea in tareas %}
            <tr>
                <td>{{ tarea.id }}</td>
                <td>{{ tarea.titulo }}</td>
                <td>{{ tarea.proyecto.nombre }}</td>
                <td>{{ tarea.prioridad }}</td>
                <td>
                    <a href="{% url 'tarea' recurso.id tarea.id %}">
                        <span class="glyphicon glyphicon-log-in"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}